<div class="card my-3">
  <div class="card-body">
    <h5 class="card-title text-center text-primary">{{ hero.superhero }}</h5>
    <p class="card-text text-center">
      {{ hero.alter_ego }}
    </p>
    <div class="text-center">
      <img class="img-fluid rounded" [src]="hero | hero" [alt]="hero.superhero" />
    </div>
    <div class="mt-3">
      <p class="card-text text-center">
        {{ hero.first_appearance }}
      </p>
      <p class="card-text text-center">
        {{ hero.characters }}
      </p>
      <p class="card-text text-muted text-center">
        {{ hero.publisher }}
      </p>
    </div>
  </div>

  <!-- Botón Editar -->
  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center my-2">
    <button class="btn btn-primary mx-1" [routerLink]="['/heroes/edit', hero.id]">
      Editar
    </button>
  </div>

  <hr />

  <!-- Enlace Ver Más -->
  <div class="text-center">
    <a
      [routerLink]="['/heroes', hero.id]"
      class="btn btn-link text-primary"
      (click)="getHero(hero.id)"
    >
      Ver más
    </a>
  </div>
</div>
