<div class="flex flex-column">
    <span class="text-lg mb-4">
        Registra aquí tu cuenta
    </span>

    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input type="text" matInput placeholder="Nombre de usuario">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Correo Electrónico</mat-label>
        <input type="mail" matInput placeholder="Ingrese su correo">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Ingrese su contraseña">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Repita la contraseña </mat-label>
        <input type="password" matInput placeholder="Repita su contraseña">
    </mat-form-field>
    <button mat-button mat-flat-button color="primary">
        Registrarse
    </button>

    <div class="flex justify-content-end mt-5">
        <a [routerLink]="['/auth/login']"> ¿Ya dispones de una cuenta?</a>
    </div>
    
</div>